@import "src/assets/styles/colors";

.card-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;

  &:hover {
    cursor: pointer;

    & .title,
    & .date {
      opacity: 0;
    }
  }

  & .title,
  & .date {
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background: rgba($color: $white, $alpha: .8);
    transition: all 0.3s ease-in-out;
  }

  & .title {
    top: 16px;
    left: 0;
  }

  & .date {
    bottom: 16px;
    right: 0;
  }

  & .image {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}